<%- include('components/header',{Title: "About"}) -%>
<%- include('components/navbar') -%>
    <div class="MainNoteInMiddle">
        <h1>Admin</h1>
        <p>Total Purchases up until now is: <%=totalPurchases%>  </p>
        <p>Total earning up until now is: &#8377; <%=totalSum%>  </p>
    </div>
<%- include('components/footer'); -%>