<%- include('components/header', {Title: "Database"}) -%>
    <h1>All Purchases are here</h1>
    <a href="/">
        <button>home</button>
    </a>
    <br>
    <table>
        <theader>
            <th>S.N</th>
            <th>Name</th>
            <th>Item</th>
            <th>UID</th>
            <th>Price</th>
            <th>Purchase Date</th>
            <th>Status</th>
            <th>Payment Status</th>
            <th></th>
            <th></th>
        </theader>
        <tbody>
            <% for (let i = 0; i < allDataFromDB.length; i++) { %>
                <tr>
                    <td><%= ((currentPage - 1) * limit) + i + 1 %></td>
                    <td><%= allDataFromDB[i].name %></td>
                    <td><%= allDataFromDB[i].item %></td>
                    <td><%= allDataFromDB[i].UID %></td>
                    <td><%= allDataFromDB[i].price %></td>
                    <td><%= allDataFromDB[i].purchaseDate %></td>
                    <td><%= allDataFromDB[i].isPurchase %></td>
                    <td><%= allDataFromDB[i].isPaid %></td>
                    <td>
                        <a href="/Data-Handler/modify/<%=allDataFromDB[i]._id%>">
                            <button class="<%= allDataFromDB[i]._id %> modify-button">Modify</button>
                        </a>
                    </td>
                    <td>
                        <a href="/Data-Handler/delete/<%=allDataFromDB[i]._id%>">
                            <button class="<%= allDataFromDB[i]._id %> delete-button">Delete</button>
                        </a>
                    </td>

                </tr>
            <% } %>
        </tbody>
    </table>

    <a href="/Data-handler/details?page=<%=previousPage%>&limit=15" class="previous-button">
        <button>
            Previous
        </button>
    </a>
    <a href="/Data-handler/details?page=<%=nextPage%>&limit=15" class="next-button">
        <button>
            Next
        </button>
    </a>
<%- include('components/footer'); -%>