<%- include('components/header',{Title: "Update"}) -%>
<%- include('components/navbar') -%>
<div class="add-menu-container">
    <h1 class="form-header">Now you can Update!</h1>
    <p class="form-paragraph">To update, re-enter the fields and hit <strong>Save!</strong></p>
    <div class="form-container">
        <div>
        <form action="/Data-Handler/modify/id/save/<%=CustomerID._id%>" method="post" class="form-area">
            <label class="form-input-title" for="name">Update Name</label>
            <input type="text" id="name" name="name" required value="<%=CustomerID.name%>">

            <label class="form-input-title" for="item">Update Item</label>
            <input type="text" id="item" name="item" required value="<%=CustomerID.item%>">

            <label class="form-input-title" for="uid">Update UID</label>
            <input type="number" id="uid" name="uid" required value="<%=CustomerID.UID%>">

            <label class="form-input-title" for="price">Update Price:</label>
            <input type="number" id="price" name="price" required value="<%=CustomerID.price%>">

            <label class="form-input-title" for="date">Update Date</label>
            <input type="date" id="date" name="date" required value="<%=dateProper%>">

            <div>
                <legend>Update Purchase Status</legend>
                <label for="isPurchaseYes">✔️</label>
                <input type="radio" id="isPurchaseYes" name="isPurchase" value="true" required <%= S_isPurchase === "true" ? 'checked' : '' %> >
                <label for="isPurchaseNo">❌</label>
                <input type="radio" id="isPurchaseNo" name="isPurchase" value="false" required <%= S_isPurchase === "false" ? 'checked' : '' %> >
            </div>
                
            <div>
                <legend>Is Paid?</legend>
                <label for="isPaidYes">✔️</label>
                <input type="radio" id="isPaidYes" name="isPaid" value="true" required <%= S_isPaid === "true" ? 'checked' : '' %> >
                <label for="isPaidNo">❌</label>
                <input type="radio" id="isPaidNo" name="isPaid" value="false" required <%= S_isPaid === "false" ? 'checked' : '' %> >
            </div>
            <button type="submit" class="save-button">Save</button>
        </form>
        </div>
        <div class="form-side-image modify-side-image">
            
        </div>
    </div>
</div>
<%- include('components/footer'); -%>