<%- include('components/header', {Title: "Result"}) -%>
    <h1>All Purchases are here</h1>
    <a href="/">
        <button>home</button>
    </a>
    <br>
    <table>
        <theader>
            <th>S.N</th>
            <th>Name</th>
            <th>Item</th>
            <th>UID</th>
            <th>Price</th>
            <th>Purchase Date</th>
            <th>Status</th>
            <th>Payment Status</th>
        </theader>
        <tbody>
            <% for (let i = 0; i < allDataFromDB.length; i++) { %>
                <tr>
                    <td><%= i+1 %></td>
                    <td><%= allDataFromDB[i].name %></td>
                    <td><%= allDataFromDB[i].item %></td>
                    <td><%= allDataFromDB[i].UID %></td>
                    <td><%= allDataFromDB[i].price %></td>
                    <td><%= allDataFromDB[i].purchaseDate %></td>
                    <td><%= allDataFromDB[i].isPurchase %></td>
                    <td><%= allDataFromDB[i].isPaid %></td>
                </tr>
            <% } %>
        </tbody>
    </table>
<%- include('components/footer'); -%>